.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
}

.project-card {
  background-color: #1B4242;
  padding: 20px;
  border-radius: 25%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.project-card:nth-child(even) {
  background-color: #5C8374;
  color: #092635;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 50%;
  height: auto;
  max-height: 150px; /* Ensure uniform height */
  object-fit: cover;
  border-radius: 75px;
  transition: transform 0.3s ease, z-index 0.3s ease;
  margin-bottom: 10px;
}

.project-card:hover .project-image {
  transform: scale(1.4);
  border-radius: 0;
  z-index: 1;
}

.project-info h2 {
  margin: 10px 0;
  padding-bottom: 5px;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
}

.project-info p {
  font-size: 0.75rem;
  margin: 10px 0;
}

.githublink {
  color: #9EC8B9;
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s;
  font-size: 0.75rem;
}

.project-card:nth-child(even) .githublink {
  color: #092635;
}

.project-card:nth-child(even) .githublink:hover {
  color: #fff;
}

.githublink:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
