/* src/Header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#161A30;
    /* color:#DFD0B8; */
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    /* padding: 0px,30px; */
    display: flex;
    margin-left: auto;
  }
  
  .nav-links li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    margin-right: 20px;
    padding: 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #B6BBC4;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .social-links {
    display: flex;
    align-items: center; /* Vertically align social icons */
    margin-left: 20px; /* Adjust the left margin between nav and social links */
  }
  .social-links a {
    text-decoration: none;
    color:#F0ECE5;
    margin-right: 10px;
    padding: 1rem;
  }
  .social-icon {
    font-size: 2rem;
  }
  .hover-text:hover {
    color:#F0ECE5; 
  }
  @media (max-width: 599px) {
    .example-heading {
        font-size: 1.5em;
    }

    .example-paragraph {
        font-size: 0.9em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 100px) and (max-width: 400px){
.profile-image{
  display : none;
}
}
@media (min-width: 300px) and (max-width: 767px) {
    .heading {
        display : none;
        font-size: 1.75em;
    }

    .ico{
        font-size: 0.95em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .heading {
        /* display : none; */
        font-size: 1.85em;
    }

    .ico {
        font-size: 1em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .heading {
        font-size: 2em;
    }

    .ico {
        font-size: 1.1em;
    }
}